@charset "UTF-8";

@font-face {
    font-family: 'jujutsu';
    src: url('fonte/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'jujutsu2';
    src: url('fonte/Rubik-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: justify;
    font-family:'jujutsu2';
    color: rgb(41, 41, 41);
    background-image: url('imagens/background.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkred;
    
}

hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

header {
    width: 100%;
    padding: 3%;
}

header  ul {
    list-style-type: none;
}

header  ul  li {
    display: inline-block;
    margin: 0% 40px;
    padding-top: 20px;
}

ul > li > a {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-shadow: 1.5px 1.5px 2px rgb(0, 0, 0);
    transition: all 0.4s;
}

nav > ul > li > a:hover {
    text-decoration: underline;
    color: rgb(255, 102, 102);
    text-shadow: 1.5px 1.5px  3px rgb(0, 0, 0);
    background-color: #4c1b45;
    border-radius: 30px;
    transition: all 0.4s;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.invisible {
    width: 250px;
}

a {
    text-decoration: none;     /*all the links*/
}

#italic {
    font-family: 'jujutsu';
}

main {
    display: flex;
    flex-direction: column;
    width: 750px;
    padding: 20px;
    background-color: white;
    margin: 10px auto auto auto;
    border-radius: 7px 7px 0px 0px;
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
}

.p1 > a {
    color: red;
}

.p1 > a:hover {
    color: black;
    text-decoration: underline;
    text-shadow: 0px 0px 2px #c812ad;
    transition: all 0.4s;
}

.p1 {
    width: 16em;
    margin-right: 20px;
    font-size: 0.95em;
    
}

.p2 {
    margin-bottom: 25px;
    font-size: 0.95em;
    margin: 10px
}

main > h1 {
    padding-bottom: 20px;
    margin: 10px;
}

.trailer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 12.5em;
}

iframe {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.406);
    border-radius: 3px;
    
}

.paigogin {
    height: 7em;
    width: 15em;
    display: grid;
    place-items: center;    
}

.gogin {
    height: 6.25em;
    width: 6.25em;
}


.gogin > img {
    width: 6.25em;
    height: 6.25em;
    
    
}

.trama {
    margin-bottom: 30px;
}

.container0 {
    display: flex;
}

.container1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}

.container1 .box:hover {
    scale: 1.2;
    transition: 0.5s;
}

.container1 .box::before { 
    content: ''; 
    background: inherit; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    filter: blur(25px); 
    border-radius: 50%;
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
    transition: 0.2s;
}

.container1 .box:hover::before {
    opacity: 0;
    transition: 0.2s;
}

footer {

    background-color: black;
    padding: 0.8em;
}

footer > p {
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin: 0%;
    padding: 0%;
}

